.fgs_welcome {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 20px 40px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 4px 3px #e9eaea;
}
.fgs_welcome .fgs_header {
  margin: -20px -20px 20px;
  padding: 15px 20px 10px;
  border-bottom: 3px solid #f1f1f1;
}
.fgs_welcome .fgs_header h3 {
  display: inline-block;
  margin: 0;
  line-height: 35px;
}
.fgs_welcome .fgs_header .fgs_actions {
  float: right;
}
