.fluentform-admin-logo img {width: 28px;border-radius: 49px;}
.fluentform-admin-logo {display: flex;align-items: center;justify-content: space-between;}

.fluentform-admin_body {width: 260px;max-width: 270px;padding-left: 9px;padding-right: 9px;border-top: 1px solid #884646;padding-top: 4px;margin-top: 14px;}
