.fbgl-admin-logo img {
    width: 50px;
    border-radius: 49px;
}
.fbgl-admin-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fbgl-admin_body {
    width: 260px;
    max-width: 270px;
    padding-left: 9px;
    padding-right: 9px;
    border-top: 1px solid #884646;
    padding-top: 4px;
    margin-top: 14px;
}
.action_btn {
    height: 26px;
    margin-top: 12px;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
}
body.fbgl_admin {
    background: #0000001f;
}
#content-ff {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 40px auto 20px;
    padding: 32px;
    width: 650px;
    box-shadow: 1px 1px 4px;
}

.fbgl-parent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.fbgl-parent .div2 {
    margin-left: 11px;
    width:70%;
}
.fbgl-parent .div1 {
    width:20%;
}
.div1 img {
    margin-top:12px;
}
button#update-settings-fb {
    height: 29px;
    background: #044d8c;
    color: white;
    font-size: 13px;
    margin-top: 5px;
    border-radius: 5px;
    outline:none;
    cursor:pointer;
    transition-duration: .2s;
}   
button#update-settings-fb:hover {
    background: #f2f2f2;
    color: black;
}

#fbgl-auto-notify {
    color: red;
    font-family: monospace;
}

#fbgl-questions-block {
    margin-top: 16px;
    display: none;
}